<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="material-datatables">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="Cday">Từ Ngày</label>
                                                        <input type="date" class="form-control" id="Cday">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="Cday">Đến Ngày</label>
                                                        <input type="date" class="form-control" id="Cday2">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="Sesale">Sale</label>
                                                        <select class="form-control" ng-model="Csale" ng-disabled="auth.Role[0].id !== 0"
                                                            ng-options="option.name for option in Users">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="input-group add">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <a href="#" class="btn btn-info btn-block" style="margin-left: 20px"
                                                            ng-click="Searchwith()">
                                                            <i class="material-icons">search</i> Tìm Kiếm
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <a href="#" class="btn btn-default btn-block" ng-click="Clear()">
                                                            <i class="material-icons">clear_all</i> Clear
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table datatable="ng" dt-options="newdtOptions" cellpadding="0" class="table table-striped cell-border table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Time</th>
                                        <th>ID</th>
                                        <th>Họ Tên</th>
                                        <th>Giới tính</th>
                                        <th>Số điện thoại</th>
                                        <th>Ngày hẹn</th>
                                        <th>Giờ hẹn</th>
                                        <th>Ghi chú</th>
                                        <th hidden>Địa chỉ</th>
                                        <th hidden>Trạng thái</th>
                                        <th hidden>Nhân viên</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in list_student" style="cursor:pointer" ng-click="detail(content._id)">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td>{{content.Regday +' '+ content.Regtime}}</td>
                                        <td>{{content._id}}</td>
                                        <td>{{content.Fullname}}</td>
                                        <td>{{content.Sex[0].name}}</td>
                                        <td>{{content.Phone}}</td>
                                        <td>{{content.Appointment_day}}</td>
                                        <td>{{content.Appointment_time[0].name}}</td>
                                        <td>{{content.Note}}</td>
                                        <td hidden>{{content.Address[0].name}}</td>
                                        <td hidden>{{content.Status_student[0].name}}</td>
                                        <td hidden>
                                            <a href="" class="btn cbtn cbtn-left btn-primary btn-sm" data-tooltip="{{content.Manager[0].name}}">{{content.Manager[0].id}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal Chi Tiết Học Viên-->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-add" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thông
                    Tin Chi Tiết Học Viên {{_details._id}} <span class="badge  badge-danger" ng-if="_details.Duplicate !== null">Học
                        Viên bị trùng và đã được đăng ký vào {{_details.Duplicate[0].pretime}}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-3">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-2 p-0">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="fullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="_details.Fullname" id="dname">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control" ng-model="_details.Email" id="demail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="phone">Số DT</label>
                                                <input type="text" class="form-control" ng-model="_details.Phone" id="dphone">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <a href="" ng-click="openPhoneTab(_details.Phone)">
                                                            <i class="material-icons" style="color:#00BCD4; margin-top: -20px;border: 1px solid; border-radius: 5px;">call</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="sex">Giới tính</label>
                                                <select class="form-control" ng-model="selectedSex" ng-options="option.name for option in Sex">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="address">Địa chỉ</label>
                                                <select class="form-control" ng-model="selectedAddress" ng-options="option.name for option in Address">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="dayreg2">Ngày Báo Danh</label>
                                                <input type="date" class="form-control" id="dayreg2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="note">Ghi chú</label>
                                            <textarea class="form-control" rows="5" ng-model="_details.Note" id="dnote"></textarea>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-1 p-0">
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-block btn-lg" style="padding-left: 17px;" ng-click="up_detail()">Cập
                                                Nhật
                                            </button>
                                            <button class="btn btn-info btn-block">SMS</button>
                                            <button class="btn btn-info btn-block">Email</button>
                                        </div>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card m-3">
                        <div class="card-body">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="coso">Cơ sở</label>
                                                <select class="form-control" ng-model="selectedCenter" ng-options="option.name for option in Center">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="trangthai">Trạng thái</label>
                                                <select class="form-control" ng-model="selectedStatus" ng-options="option.name for option in Status">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ng-class="{'col-lg-4' : auth.Role[0].id === 0 , 'col-lg-5' : auth.Role[0].id === 1 }" -->
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="ngayhen">Ngày hẹn</label>
                                                <input type="date" class="form-control" id="dngayhen">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="giohen">Giờ hẹn</label>
                                                <select class="form-control" ng-model="selectedTime" ng-options="option.name for option in Appointment_time">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-2" ng-if="auth.Role[0].id === 0">
                                        <div class="input-group add">
                                            <label for="giohen">Sale</label>
                                            <select class="form-control" ng-model="selectedManager" ng-options="option.Username for option in users">
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-2">
                                        <!-- <button type="button" class="btn btn-lg btn-warning btn-block top-65" ng-click="up_detail_2()">
                                            Cập nhật
                                        </button> -->
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-block btn-lg btn-update" ng-show="auth.Role[0].id !== 0"
                                                ng-disabled="_details.Status_student[0].id === 3" ng-click="up_detail()">Cập
                                                Nhật
                                            </button>
                                            <button class="btn btn-warning btn-block btn-lg btn-update"
                                            ng-show="auth.Role[0].id === 0" ng-click="up_detail()">Cập
                                            Nhật
                                        </button>
                                            <button class="btn btn-info btn-block" ng-click="showsms()">SMS</button>
                                            <!-- <button class="btn btn-info btn-block">Email</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <h6 class="text-muted text-center">gọi lại ngày: <b>{{_details.Time_recall[0].day}}</b> lúc: <b>{{_details.Time_recall[0].time[0].name}}</b></h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none; padding-top: 0">
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-lg btn-primary" ng-show="auth.Role[0].id !== 0" ng-disabled="auth.Username !== _details.Manager[0].id"
                        ng-click="addfriend(_details._id)">Thêm
                        bạn
                    </button>
                    <button type="button" class="btn btn-block btn-lg btn-primary" ng-show="auth.Role[0].id === 0"
                        ng-click="addfriend(_details._id)">Thêm
                        bạn
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-lg btn-success"  ng-show="auth.Role[0].id !== 0" ng-disabled="auth.Username !== _details.Manager[0].id  || _details.Status_student[0].id === 3"
                        data-toggle="modal" data-target="#time">Gọi lại thời gian</button>
                        <button type="button" class="btn btn-block btn-lg btn-success" ng-show="auth.Role[0].id === 0"  ng-disabled="_details.Status_student[0].id === 3"
                        data-toggle="modal" data-target="#time">Gọi lại thời gian</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-lg btn-warning" ng-show="auth.Role[0].id !== 0" ng-disabled="auth.Username !== _details.Manager[0].id  || _details.Status_student[0].id === 3"
                        ng-click="recall()">Gọi lại sau</button>
                        <button type="button" class="btn btn-block btn-lg btn-warning" ng-show="auth.Role[0].id === 0" ng-disabled="_details.Status_student[0].id === 3"
                        ng-click="recall()">Gọi lại sau</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Time-->
<div class="modal fade top-150" id="time" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Thời Gian Gọi Lại</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="passform">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group add">
                                <label for="ngayhen">Ngày</label>
                                <input type="date" class="form-control" id="dngaygoilai">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group add">
                                <label for="giohen">Giờ</label>
                                <select class="form-control" ng-model="selectedTime2" ng-options="option.name for option in Appointment_time">
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-info btn-block" ng-click="up_detail_2()">Xác Nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thêm Học Viên-->
<div class="modal fade" id="add2" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-add m-3-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thêm
                    Học Viên</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-3 p-0">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="fullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="data.fullname" id="name2"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control" ng-model="data.email" id="email2"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="phone">Số DT</label>
                                                <input type="number" class="form-control" ng-model="data.phone" id="phone2"
                                                    required>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <a href="" ng-click="openPhoneTab()">
                                                            <i class="material-icons" style="color:#00BCD4; margin-top: -20px;border: 1px solid; border-radius: 5px;">call</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="sex">Giới tính</label>
                                                <select class="form-control" ng-model="addselectedSex" ng-options="option.name for option in Sex">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="address">Địa chỉ</label>
                                                <select class="form-control" ng-model="addselectedAddress" ng-options="option.name for option in Address">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="dayreg">Ngày đăng ký</label>
                                                <input type="date" class="form-control datetimepicker" id="adddayreg"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 p-0">
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-block btn-lg btn-add-new" style="padding-left: 17px;"
                                                ng-click="addnewfromaddFriend(data)">Thêm
                                                mới
                                            </button>
                                            <!-- <button class="btn btn-info btn-block">SMS</button>
                                            <button class="btn btn-info btn-block">Email</button> -->
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card m-10">
                        <div class="card-body">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="coso">Cơ sở</label>
                                                <select class="form-control" ng-model="addselectedCenter" ng-options="option.name for option in Center">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="trangthai">Trạng thái</label>
                                                <select class="form-control" ng-model="addselectedStatus" ng-options="option.name for option in Status2">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="ngayhen">Ngày hẹn</label>
                                                <input type="date" class="form-control" id="addngayhen">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="giohen">Giờ hẹn</label>
                                                <select class="form-control" ng-model="addselectedTime" ng-options="option.name for option in Appointment_time">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="note">Ghi chú</label>
                                            <textarea class="form-control" rows="5" ng-model="addNote" id="note2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>


<!-- Modal SMS -->
<div class="modal fade" id="sms2" tabindex="-1" role="dialog" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <h4 class="modal-title text-center" id="exampleModalLabel">SMS</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="height: 10px; margin-top: -41px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="passform">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group add">
                                <input type="text" class="form-control" ng-model="_phone">
                            </div>
                        </div>
                        <div class="col-lg-12 pre-scrollable sms-scroll" style="margin-top:10px; margin-bottom: 10px; height: 300px">
                            <p class="sms-send" ng-repeat="dt in content.SMS">
                                <span style="display: block; border-bottom: 1px solid rgba(240, 240, 240, .9)">{{dt.SMS}}</span>
                                <span class="sms-status text-left">{{dt.Time}}</span>
                                <span class="sms-status text-right" style="float:right">{{dt._Status}}</span>
                            </p>

                            <h4 class="text-center" style="color: rgba(240, 240, 240, .9);" ng-if="content.SMS === null">Chưa
                                có tin nhắn nào
                                được gửi cho học viên này</h4>

                        </div>
                        <div class="col-lg-12">
                            <div class="input-group add">
                                <textarea class="form-control sms-nd" rows="5" ng-model="nd_sms_mau"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-primary btn-block" style="padding-left: 18px" ng-click="GetMau()">SMS
                            Mẫu</button>
                    </div>
                    <div class="col-lg-6">
                        <button type="button" class="btn btn-info btn-block" ng-click="send(data)">Gửi Tin</button>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-warning btn-block" ng-click="clear_sms()">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal SMS Mẫu -->
<div class="modal fade" id="smsmau2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tin Nhắn Mẫu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table cellpadding="0" class="table cell-border table-hover" style="font-size: 14px">
                    <thead>
                        <tr class="text-center">
                            <th>Chủ Đề</th>
                            <th>Nội Dung</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="content in Mau" style="cursor:pointer" ng-click="chonmau(content)">
                            <td style="width: 200px">{{content.Title}}</td>
                            <td>{{content.SMS}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>