<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="row top-10">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <button class="btn btn-primary" data-toggle="modal" data-target="#joingroup">
                                                    <i class="material-icons">border_color</i> Chọn Group Telesale
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="material-datatables top-10">
                            <table datatable="ng" dt-options="newdtOptions" dt-instance="dtInstance" cellpadding="0"
                                class="table table-striped cell-border table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Tên Group</th>
                                        <th>Loại Group</th>
                                        <th>Tên Leader</th>
                                        <th>Tên Sheet Liên Kết</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in my_all_sale" style="cursor:pointer" ng-click="detail(content._id)">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td>{{content.Name}}</td>
                                        <td>{{content.Gtype[0].name}}</td>
                                        <td>{{content.Leader[0].name}}</td>
                                        <td ng-if="content.Sheet !== null">
                                            <a href="" ng-repeat="s in content.Sheet">
                                                <span ng-if="s.muser === auth.Username">{{s.sheetname}}</span>
                                            </a>
                                        </td>
                                        <td ng-if="content.Sheet === null"></td>
                                        <td class="td-actions text-center">
                                            <button type="button" rel="tooltip" class="btn btn-success" ng-click="upJoinOpen(content)">
                                                <i class="material-icons">edit</i>
                                            </button>

                                            <button type="button" rel="tooltip" class="btn btn-danger" ng-click="upjoinDelopen(content)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal tạo liên kết group -->
<div class="modal fade" id="joingroup" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Liên
                    Kết Group Sale
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="choosegroup">Chọn Group</label>
                                                </div>
                                                <select id="choosegroup" class="form-control" ng-model="choosegroup"
                                                    ng-change="getUserforchange()" ng-options="option.Name for option in SaleGroup">
                                                </select>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="chooseSheet">Chọn Sheet</label>
                                                </div>
                                                <select id="chooseSheet" class="form-control" ng-model="chooseSheet"
                                                    ng-options="option.name for option in List_sheet">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="Join()">
                                    <i class="material-icons">send</i> Liên Kết</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal cập nhật liên kết group -->
<div class="modal fade" id="upjoingroup" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Cập
                    Nhật
                    Liên Kết Group
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="_upgroup">Chọn Group</label>
                                                </div>
                                                <select id="_upgroup" class="form-control" ng-model="upjoingroup" disabled
                                                    ng-options="option.Name for option in SaleGroup">
                                                </select>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="Leader">Chọn Sheet</label>
                                                </div>
                                                <select id="upjoinsheet" class="form-control"
                                                    ng-model="upjoinsheet" ng-options="option.name for option in List_sheet">
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                        </div>

                        <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="UpdatejoinGroup()">
                            <i class="material-icons">send</i> Cập nhật</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- modal comfirm xóa -->
<div class="modal fade" id="deljoingroup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn xóa Sheet <b style="text-decoration: underline;">{{_delsheet.name}}</b> có Sheet ID là
                    <b style="text-decoration: underline;">{{_delsheet.id}}</b> khỏi liên kết group ?</p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" class="btn btn-primary" ng-click="Deljoin(_delsheet.name)">Chấp nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>