<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="material-datatables">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-group add">
                                                        <label for="hregday">Từ Ngày</label>
                                                        <input type="date" class="form-control" id="hregday">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-group add">
                                                        <label for="hregday">Đến Ngày</label>
                                                        <input type="date" class="form-control" id="hregday2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-group add">
                                                        <label for="coso">Cơ sở</label>
                                                        <select class="form-control" ng-model="HCenter" ng-options="option.name for option in Center">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-group add">
                                                        <label for="HStatus">Trạng thái</label>
                                                        <select class="form-control" ng-model="HStatus" ng-options="option.name for option in Status">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="row top-10">
                                                <div class="col-lg-11">
                                                    <a href="#" class="btn btn-info btn-block" style="margin-left: 20px"
                                                        ng-click="Searchwith()">
                                                        <i class="material-icons">search</i> Tìm Kiếm
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-11">
                                                    <a href="#" class="btn btn-default btn-block" style="margin-left: 20px" ng-click="Clear()">
                                                        <i class="material-icons">clear_all</i> Clear
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <table datatable="ng" dt-options="newdtOptions" dt-instance="dtInstance" cellpadding="0"
                                class="table table-striped cell-border table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Time</th>
                                        <th>ID</th>
                                        <th>Họ Tên</th>
                                        <th>Giới tính</th>
                                        <th>Số điện thoại</th>
                                        <th>Địa chỉ</th>
                                        <th>Trạng thái</th>
                                        <th>Nhân viên</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in list_student" style="cursor:pointer" ng-click="detail(content._id)">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td>{{content.Regday +' '+ content.Regtime}}</td>
                                        <td>{{content._id}}</td>
                                        <td>{{content.Fullname}}</td>
                                        <td>{{content.Sex[0].name}}</td>
                                        <td>{{content.Phone}}</td>
                                        <td>{{content.Address[0].name}}</td>
                                        <td>{{content.Status_student[0].name}}</td>
                                        <td>
                                            <a href="" class="btn cbtn cbtn-left btn-primary btn-sm" data-tooltip="{{content.Manager[0].name}}">{{content.Manager[0].id}}</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Modal Chi Tiết Học Viên-->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-add" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">
                    Thông Tin Chi Tiết Học Viên {{_details._id}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-3">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-2 p-0">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="fullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="_details.Fullname" id="dname">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control" ng-model="_details.Email" id="demail">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="phone">Số DT</label>
                                                <input type="text" class="form-control" ng-model="_details.Phone" id="dphone">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <a href="">
                                                            <i class="material-icons" style="color:#00BCD4; margin-top: -20px;border: 1px solid; border-radius: 5px;">call</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="sex">Giới tính</label>
                                                <select class="form-control" ng-model="selectedSex" ng-options="option.name for option in Sex">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="address">Địa chỉ</label>
                                                <select class="form-control" ng-model="selectedAddress" ng-options="option.name for option in Address">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="dayreg2">Ngày Báo Danh</label>
                                                <input type="date" class="form-control" id="dayreg2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="note">Ghi chú</label>
                                            <textarea class="form-control" rows="5" ng-model="_details.Note" id="dnote"></textarea>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-1 p-0">
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-block btn-lg" style="padding-left: 17px;" ng-click="up_detail()">Cập
                                                Nhật
                                            </button>
                                            <button class="btn btn-info btn-block">SMS</button>
                                            <button class="btn btn-info btn-block">Email</button>
                                        </div>
                                    </div> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card m-3">
                        <div class="card-body">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="coso">Cơ sở</label>
                                                <select class="form-control" ng-model="selectedCenter" ng-options="option.name for option in Center">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="trangthai">Trạng thái</label>
                                                <select class="form-control" ng-model="selectedStatus" ng-options="option.name for option in Status">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ng-class="{'col-lg-4' : auth.Role[0].id === 0 , 'col-lg-5' : auth.Role[0].id === 1 }" -->
                                    <div class="col-lg-5">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="ngayhen">Ngày hẹn</label>
                                                <input type="date" class="form-control" id="dngayhen">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="giohen">Giờ hẹn</label>
                                                <select class="form-control" ng-model="selectedTime" ng-options="option.name for option in Appointment_time">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-2" ng-if="auth.Role[0].id === 0">
                                        <div class="input-group add">
                                            <label for="giohen">Sale</label>
                                            <select class="form-control" ng-model="selectedManager" ng-options="option.Username for option in users">
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-2">
                                        <!-- <button type="button" class="btn btn-lg btn-warning btn-block top-65" ng-click="up_detail_2()">
                                            Cập nhật
                                        </button> -->
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-block btn-lg" style="padding-left: 17px;"
                                                ng-disabled="_details.Status_student[0].id === 3 || auth.Username !== _details.Manager[0].id"
                                                ng-click="up_detail()">Cập Nhật
                                            </button>
                                            <button class="btn btn-info btn-block">SMS</button>
                                            <button class="btn btn-info btn-block">Email</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <h6 class="text-muted text-center">gọi lại ngày: <b>{{_details.Time_recall[0].day}}</b> lúc: <b>{{_details.Time_recall[0].time[0].name}}</b></h6>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none; padding-top: 0">
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-lg btn-primary" ng-disabled="auth.Username !== _details.Manager[0].id"
                        ng-click="addfriend(_details._id)">Thêm
                        bạn
                    </button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-lg btn-success" ng-disabled="auth.Username !== _details.Manager[0].id  || _details.Status_student[0].id === 3"
                        data-toggle="modal" data-target="#time">Gọi lại thời gian</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-block btn-lg btn-warning" ng-disabled="auth.Username !== _details.Manager[0].id  || _details.Status_student[0].id === 3"
                        ng-click="recall()">Gọi lại sau</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Time-->
<div class="modal fade top-150" id="time" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Thời Gian Gọi Lại</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="passform">
                    <div class="row">
                        <div class="col-6">
                            <div class="input-group add">
                                <label for="ngayhen">Ngày</label>
                                <input type="date" class="form-control" id="dngaygoilai">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group add">
                                <label for="giohen">Giờ</label>
                                <select class="form-control" ng-model="selectedTime2" ng-options="option.name for option in Appointment_time">
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-info btn-block" ng-click="up_detail_2()">Xác Nhận</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thêm Học Viên header-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-add m-3-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thêm
                    Học Viên</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-3 p-0">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="fullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="data.fullname" id="name"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control" ng-model="data.email" id="email"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="phone">Số DT</label>
                                                <input type="number" class="form-control" ng-model="data.phone" id="phone"
                                                    required>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <a href="">
                                                            <i class="material-icons" style="color:#00BCD4; margin-top: -20px;border: 1px solid; border-radius: 5px;">call</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="sex">Giới tính</label>
                                                <select class="form-control" ng-model="maddselectedSex" ng-options="option.name for option in Sex">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="address">Địa chỉ</label>
                                                <select class="form-control" ng-model="maddselectedAddress" ng-options="option.name for option in Address">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="dayreg">Ngày đăng ký</label>
                                                <input type="date" class="form-control datetimepicker" id="madddayreg"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="note">Ghi chú</label>
                                                <textarea class="form-control" rows="5" ng-model="maddNote" id="note"></textarea>
                                            </div>
                                        </div> -->
                                    <div class="col-lg-1 p-0">
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-block btn-lg" style="padding-left: 17px;"
                                                ng-click="AddStudent(data)">Thêm
                                                mới
                                            </button>
                                            <button class="btn btn-info btn-block">SMS</button>
                                            <button class="btn btn-info btn-block">Email</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card m-10">
                        <div class="card-body">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="coso">Cơ sở</label>
                                                <select class="form-control" ng-model="maddselectedCenter" ng-options="option.name for option in Center">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="trangthai">Trạng thái</label>
                                                <select class="form-control" ng-model="maddselectedStatus" ng-options="option.name for option in Status">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="ngayhen">Ngày hẹn</label>
                                                <input type="date" class="form-control" id="maddngayhen">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="giohen">Giờ hẹn</label>
                                                <select class="form-control" ng-model="maddselectedTime" ng-options="option.name for option in Appointment_time">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="note">Ghi chú</label>
                                            <textarea class="form-control" rows="5" ng-model="maddNote" id="note"></textarea>
                                        </div>
                                        <!-- <button type="button" class="btn btn-lg btn-warning btn-block top-65">Thêm mới và
                                                chuyển
                                            </button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
        </div>
    </div>
</div>


<!-- Modal Thêm Học Viên 2 -->
<div class="modal fade" id="add2" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-add m-3-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thêm
                    Học Viên</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-3 p-0">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="fullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="data.fullname" id="name2"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control" ng-model="data.email" id="email2"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="phone">Số DT</label>
                                                <input type="number" class="form-control" ng-model="data.phone" id="phone2"
                                                    required>
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <a href="">
                                                            <i class="material-icons" style="color:#00BCD4; margin-top: -20px;border: 1px solid; border-radius: 5px;">call</i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="sex">Giới tính</label>
                                                <select class="form-control" ng-model="addselectedSex" ng-options="option.name for option in Sex">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="address">Địa chỉ</label>
                                                <select class="form-control" ng-model="addselectedAddress" ng-options="option.name for option in Address">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="dayreg">Ngày đăng ký</label>
                                                <input type="date" class="form-control datetimepicker" id="adddayreg"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 p-0">
                                        <div class="form-group">
                                            <button class="btn btn-warning btn-block btn-lg" style="padding-left: 17px;"
                                                ng-click="addnewfromaddFriend(data)">Thêm
                                                mới
                                            </button>
                                            <button class="btn btn-info btn-block">SMS</button>
                                            <button class="btn btn-info btn-block">Email</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="card m-10">
                        <div class="card-body">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="coso">Cơ sở</label>
                                                <select class="form-control" ng-model="addselectedCenter" ng-options="option.name for option in Center">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="trangthai">Trạng thái</label>
                                                <select class="form-control" ng-model="addselectedStatus" ng-options="option.name for option in Status">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="ngayhen">Ngày hẹn</label>
                                                <input type="date" class="form-control" id="addngayhen">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group add">
                                                <label for="giohen">Giờ hẹn</label>
                                                <select class="form-control" ng-model="addselectedTime" ng-options="option.name for option in Appointment_time">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="note">Ghi chú</label>
                                            <textarea class="form-control" rows="5" ng-model="addNote" id="note2"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>

<!-- Modal Thêm User -->
<div class="modal fade" id="user" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thêm
                    User
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="uname">Username</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="data.uname" id="uname"
                                                    required>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="ufullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="data.ufullname" id="ufullname"
                                                    required>
                                            </div>

                                            <div class="input-group add">
                                                <label for="uemail">Email</label>
                                                <input type="text" class="form-control" ng-model="data.uemail" id="uemail"
                                                    required>
                                            </div>

                                            <div class="input-group add">
                                                <label for="uphone">Số DT</label>
                                                <input type="number" class="form-control" ng-model="data.uphone" id="uphone"
                                                    required>
                                            </div>

                                            <div class="input-group add">
                                                <label for="urole">Phân quyền</label>
                                                <select id="urole" class="form-control" ng-model="data.urole">
                                                    <option selected>Choose...</option>
                                                    <option value="1">Telesale</option>
                                                    <option value="2">Marketing</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="signup(data)">
                                    <i class="material-icons">send</i> Tạo User</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Cập nhật User-->
<div class="modal fade top-150" id="update" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Nhập Mật Khẩu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="passform">
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="oldpass" id="oldpassword" placeholder="Mật khẩu cũ"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" ng-model="newpass" id="newpassword" placeholder="Mật khẩu mới"
                            required>
                    </div>
                </form>
                <button type="button" class="btn btn-info btn-block" ng-click="update()">Xác Nhận</button>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div> -->
        </div>
    </div>
</div>