<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row top-10">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <button class="btn btn-warning" data-toggle="modal" data-target="#user">
                                                    <i class="material-icons">border_color</i> Tạo User
                                                </button>
                                                <button class="btn btn-info" ng-click="getdetailtele()" ng-if="auth.Role[0].id === 1">
                                                    <i class="material-icons">border_color</i> Thông Tin Group
                                                </button>
                                                <button class="btn btn-info" ng-click="getdetailmakert()" ng-if="auth.Role[0].id === 2">
                                                    <i class="material-icons">search</i> Thông Tin Group
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="material-datatables top-10">
                            <table datatable="ng" dt-options="newdtOptions" dt-instance="dtInstance" cellpadding="0"
                                class="table table-striped cell-border table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Họ Tên</th>
                                        <th>Chức Vụ</th>
                                        <th>Group</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in Users" style="cursor:pointer" ng-click="detail(content._id)">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td>{{content.Fullname}}</td>
                                        <td ng-if="content.Leader === false">{{content.Role[0].name}}</td>
                                        <td ng-if="content.Leader === true">Leader</td>
                                        <td>{{content.Zone[0].name}}</td>
                                        <td class="td-actions text-center">
                                            <button type="button" rel="tooltip" class="btn btn-success" ng-click="OpeneditUser(content)">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-info" ng-click="OpenReset(content)">
                                                <i class="material-icons">autorenew</i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger" ng-click="Opendel(content)">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal thông tin group telesale-->
<div class="modal fade" id="gdetail" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thông
                    Tin Group
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="musername">Tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="auth.Zone[0].name"
                                                    disabled>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="mfullname">Loại</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="auth.Zone[0].Gtype[0].name"
                                                    disabled>
                                            </div>

                                            <div class="input-group add">
                                                <label for="memail">Leader</label>
                                                <input type="text" class="form-control" ng-model="_detailGroup.Leader[0].name"
                                                    disabled>
                                            </div>

                                            <form>
                                                <h6>Chọn Sheet Của Group</h6>

                                                <div class="row">
                                                    <div class="col-lg-4" ng-repeat="content in Groupter">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input"
                                                                    ng-disabled="Makerts.length > 0" ng-model="check"
                                                                    ng-change="ChangeCheckGMk(content, check)" type="checkbox"
                                                                    value="">
                                                                {{content.Name}}
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </form>
                                            <br />
                                            <form>
                                                <h6>Hoặc chọn Sheet Của Makerter</h6>

                                                <div class="row">
                                                    <div class="col-lg-4" ng-repeat="content in Sheeter">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                                <input class="form-check-input" ng-disabled="Groupmk.length > 0"
                                                                    ng-model="check" ng-change="ChangeCheckMk(content, check)"
                                                                    type="checkbox" value="">
                                                                {{content.Fullname}}
                                                                <span class="form-check-sign">
                                                                    <span class="check"></span>
                                                                </span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-lg btn-info btn-block" ng-click="UpdateSheetForGroup()">
                                    <i class="material-icons">send</i> Cập Nhật</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal thông tin group gdetailmakerting-->
<div class="modal fade" id="gdetailmakerting" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thông
                    Tin Group
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="gtelename">Tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="auth.Zone[0].name" id="gtelename"
                                                    disabled>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="gtype">Loại</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="auth.Zone[0].Gtype[0].name"
                                                    id="gtype" disabled>
                                            </div>

                                            <div class="input-group add">
                                                <label for="_lead">Leader</label>
                                                <input type="text" class="form-control" ng-model="_lead" id="_lead"
                                                    disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 
                                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="signup(data)">
                                    <i class="material-icons">send</i> Cập Nhật</button> -->

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal tạo user -->
<div class="modal fade" id="user" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thêm
                    User
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="musername">Username</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="data.musername" id="musername"
                                                    required>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="mfullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="data.mfullname" id="mfullname"
                                                    required>
                                            </div>

                                            <div class="input-group add">
                                                <label for="memail">Email</label>
                                                <input type="text" class="form-control" ng-model="data.memail" id="memail"
                                                    required>
                                            </div>

                                            <div class="input-group add">
                                                <label for="mphone">Số DT</label>
                                                <input type="number" class="form-control" ng-model="data.mphone" id="mphone"
                                                    required>
                                            </div>

                                            <div class="input-group add">
                                                <label for="mday">Ngày Sinh</label>
                                                <input type="date" class="form-control" id="mday">
                                            </div>

                                            <div class="input-group add" ng-if="auth.Role[0].id === 0">
                                                <label for="mrole">Phân quyền</label>
                                                <select id="mrole" class="form-control" ng-model="mrole" ng-change="getgroupforrole()"
                                                    ng-options="option.value for option in _Role">
                                                </select>
                                            </div>

                                            <div class="input-group add" ng-if="auth.Role[0].id === 0">
                                                <label for="mgroup">Chọn group</label>
                                                <select id="mgroup" class="form-control" ng-disabled="mrole.id === null"
                                                    ng-model="mgroup" ng-options="option.Name for option in GroupSignup">
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="signup(data)">
                                    <i class="material-icons">send</i> Tạo User</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal cập nhật user -->
<div class="modal fade" id="updateuser" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thêm
                    User
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: 5px">
                <div class="row">
                    <div class="card m-10">
                        <div class="card-body card-add">
                            <form name="loginform">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="upusername">Username</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="_detail.Username" id="upusername">
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend add">
                                                    <label for="upfullname">Họ tên</label>
                                                </div>
                                                <input type="text" class="form-control" ng-model="_detail.Fullname" id="upfullname">
                                            </div>

                                            <div class="input-group add">
                                                <label for="upemail">Email</label>
                                                <input type="text" class="form-control" ng-model="_detail.Email" id="upemail">
                                            </div>

                                            <div class="input-group add">
                                                <label for="upphone">Số DT</label>
                                                <input type="text" class="form-control" ng-model="_detail.Phone" id="upphone">
                                            </div>

                                            <div class="input-group add">
                                                <label for="upday">Ngày Sinh</label>
                                                <input type="date" class="form-control" id="upday">
                                            </div>

                                            <div class="input-group add" ng-if="auth.Role[0].id === 0">
                                                <label for="uprole">Phân quyền</label>
                                                <select id="uprole" class="form-control" ng-model="uprole" ng-change="changeforupdate()"
                                                    ng-options="option.value for option in _Role">
                                                </select>
                                            </div>

                                            <div class="input-group add" ng-if="auth.Role[0].id === 0">
                                                <label for="upgroup">Chọn group</label>
                                                <select id="upgroup" class="form-control" ng-disabled="uprole.id === null"
                                                    ng-model="mgroup" ng-options="option.Name for option in GroupUpdate">
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="UpdateUser(_detail)">
                                    <i class="material-icons">send</i> Cập nhật</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal comfirm xóa -->
<div class="modal fade" id="deluser" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn xóa <b style="text-decoration: underline;">{{deluser.Fullname}}</b> có Username là
                    <b style="text-decoration: underline;">{{deluser.Username}}</b> khỏi cơ sở dữ liệu của hệ thống ?</p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" class="btn btn-primary" ng-click="Del(deluser._id)">Chấp nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<!-- modal comfirm reset password -->
<div class="modal fade" id="reuser" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn reset mật khẩu cho <b style="text-decoration: underline;">{{ruser.Fullname}}</b> có
                    Username là
                    <b style="text-decoration: underline;">{{ruser.Username}}</b> về mặc định là: <b style="text-decoration: underline;">12345678</b>
                    ?</p>
            </div>
            <div class="modal-footer" style="padding: 5px">
                <button type="button" class="btn btn-primary" ng-click="Re(ruser)">Chấp nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>