<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="material-datatables">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-3" style="padding-left: 5px">
                                                    <div class="input-group add">
                                                        <label for="scday">Từ Ngày</label>
                                                        <input type="date" class="form-control" id="scday">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3" style="padding-left: 5px">
                                                    <div class="input-group add">
                                                        <label for="scday">Đến Ngày</label>
                                                        <input type="date" class="form-control" id="scday2">
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="input-group add">
                                                        <label for="form">Groups</label>
														<select class="form-control" ng-model="mgroup"
                                                            ng-options="option.Name for option in AllGroups">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="input-group add">
                                                        <label for="mgroup">Users</label>
                                                        <select class="form-control" ng-model="Users" ng-disabled="mgroup._id === null"
                                                            ng-options="option.Fullname for option in _sale_for_group">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="row">
                                                <div class="col-lg-11">
                                                    <a href="#" class="btn btn-info btn-block" style="margin-left: 20px"
                                                        ng-click="Search_mk()">
                                                        <i class="material-icons">search</i> Xem
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table cellpadding="0" ng-show="_User.length > 0" class="table table-striped cell-border table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Cơ Sở</th>
                                        <th>Online</th>
                                        <th>Đăng ký học</th>
                                        <th>Phần trăm</th>
                                        <th>Không tiềm năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in _User" style="cursor:pointer">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td ng-bind="content.Team"></td>
                                        <td ng-bind="content.On"></td>
                                        <td ng-bind="content.Reg.length"></td>
                                        <td ng-if="content.On > 0">{{content.Reg.length / content.On *100}} %</td>
                                        <td ng-if="content.On === 0">0 %</td>
                                        <td ng-bind="content.Ktn.length"></td>
                                    </tr>
                                </tbody>
                            </table>
							
							<h4 class="text-center" ng-show="_User.length === 0">Hiện tại không có dữ liệu phù hợp</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>