<div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="material-datatables">
                                <table datatable="ng" dt-options="newdtOptions" cellpadding="0" class="table table-striped cell-border table-hover">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Time</th>
                                            <th>ID</th>
                                            <th>Họ Tên</th>
                                            <th>Giới tính</th>
                                            <th>Số điện thoại</th>
                                            <th>Ghi chú</th>
                                            <th hidden>Địa chỉ</th>
                                            <th hidden>Trạng thái</th>
                                            <th hidden>Nhân viên</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="content in list_student" style="cursor:pointer" ng-click="detail(content._id)">
                                            <td class="text-center">{{$index +1}}</td>
                                            <td>{{content.Regday +' '+ content.Regtime}}</td>
                                            <td>{{content._id}}</td>
                                            <td>{{content.Fullname}}</td>
                                            <td>{{content.Sex[0].name}}</td>
                                            <td>{{content.Phone}}</td>
                                            <td>{{content.Note}}</td>
                                            <td hidden>{{content.Address[0].name}}</td>
                                            <td hidden>{{content.Status_student[0].name}}</td>
                                            <td hidden>
                                                <a href="" class="btn cbtn cbtn-left btn-primary btn-sm" data-tooltip="{{content.Manager[0].name}}">{{content.Manager[0].id}}</a>
                                            </td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    
    
    <!-- Modal Chi Tiết Học Viên-->
    <div class="modal fade" id="detail" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-add m-3-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thông
                        Tin Chi Tiết Học Viên {{_details._id}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-top: 5px">
                    <div class="row">
                        <div class="card m-3">
                            <div class="card-body card-add">
                                <form name="loginform">
                                    <div class="row">
                                        <div class="col-lg-2 p-0">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend add">
                                                        <label for="fullname">Họ tên</label>
                                                    </div>
                                                    <input type="text" class="form-control" ng-model="_details.Fullname" id="dname">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="email">Email</label>
                                                    <input type="text" class="form-control" ng-model="_details.Email" id="demail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="phone">Số DT</label>
                                                    <input type="text" class="form-control" ng-model="_details.Phone" id="dphone">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <a href="">
                                                                <i class="material-icons" style="color:#00BCD4; margin-top: -20px;border: 1px solid; border-radius: 5px;">call</i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="sex">Giới tính</label>
                                                    <select class="form-control" ng-model="selectedSex" ng-options="option.name for option in Sex">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="address">Địa chỉ</label>
                                                    <select class="form-control" ng-model="selectedAddress" ng-options="option.name for option in Address">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="dayreg2">Ngày Báo Danh</label>
                                                    <input type="date" class="form-control" id="dayreg2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="note">Ghi chú</label>
                                                <textarea class="form-control" rows="5" ng-model="_details.Note" id="dnote"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 p-0">
                                            <div class="form-group">
                                                <button class="btn btn-warning btn-block btn-lg" style="padding-left: 17px;" ng-click="up_detail()">Cập
                                                    Nhật
                                                </button>
                                                <button class="btn btn-info btn-block">SMS</button>
                                                <button class="btn btn-info btn-block">Email</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="card m-3">
                            <div class="card-body">
                                <form name="loginform">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="coso">Cơ sở</label>
                                                    <select class="form-control" ng-model="selectedCenter" ng-options="option.name for option in Center">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="trangthai">Trạng thái</label>
                                                    <select class="form-control" ng-model="selectedStatus" ng-options="option.name for option in Status">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="ngayhen">Ngày hẹn</label>
                                                    <input type="date" class="form-control" id="dngayhen">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="giohen">Giờ hẹn</label>
                                                    <select class="form-control" ng-model="selectedTime" ng-options="option.name for option in Appointment_time">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <button type="button" class="btn btn-lg btn-warning btn-block top-65" ng-click="up_detail_2()">
                                                Cập nhật
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="card m-3">
                            <div class="card-body">
                                <form name="loginform">
                                    <div class="row">
                                        <div class="col-4 checkstudent">
                                            <div class="form-check">
                                                <label class="form-check-label lbstudent">
                                                    <input class="form-check-input" id="1st" type="checkbox" value="" ng-model="st1" ng-disabled="auth.Username !== _details.Manager[0].id"
                                                        ng-change="check1st(st1)">                                                Đã
                                                    hẹn lần 1
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-4 checkstudent">
                                            <div class="form-check">
                                                <label class="form-check-label lbstudent">
                                                    <input class="form-check-input" id="not1st" type="checkbox" value="" ng-model="not1st" ng-disabled="auth.Username !== _details.Manager[0].id"
                                                        ng-change="checknot1st(not1st)">                                                Hẹn
                                                    chưa đến (lần 1)
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-4 checkstudent">
                                            <div class="form-check">
                                                <label class="form-check-label lbstudent">
                                                    <input class="form-check-input" id="unreg" type="checkbox" value="" ng-model="unreg" ng-disabled="auth.Username !== _details.Manager[0].id"
                                                        ng-change="checkunreg(unreg)">                                                Đến
                                                    chưa đăng ký
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <small class="text-muted text-center">gọi lại ngày: <b>{{_details.Time_recall[0].day}}</b> lúc: <b>{{_details.Time_recall[0].time[0].name}}</b></small>
                        </div>
                    </div>
    
                    <div class="row">
    
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-lg btn-primary" ng-click="addfriend(_details._id)">Thêm
                                bạn
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-lg btn-success" ng-disabled="auth.Username !== _details.Manager[0].id" data-toggle="modal"
                                data-target="#time">Gọi lại thời gian</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-block btn-lg btn-warning">Gọi lại sau</button>
                        </div>
    
                    </div>
    
                </div>
                <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
            </div>
        </div>
    </div>
    
    
    <!-- Modal Time-->
    <div class="modal fade top-150" id="time" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">Thời Gian Gọi Lại</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="passform">
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group add">
                                    <label for="ngayhen">Ngày</label>
                                    <input type="date" class="form-control" id="dngaygoilai">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group add">
                                    <label for="giohen">Giờ</label>
                                    <select class="form-control" ng-model="selectedTime2" ng-options="option.name for option in Appointment_time">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button type="button" class="btn btn-info btn-block" ng-click="up_detail_3()">Xác Nhận</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Thêm Học Viên-->
    <div class="modal fade" id="add2" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-add m-3-top" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" style="font-family:'Times New Roman', Times, serif; font-weight: 900">Thêm
                        Học Viên</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-top: 5px">
                    <div class="row">
                        <div class="card m-10">
                            <div class="card-body card-add">
                                <form name="loginform">
                                    <div class="row">
                                        <div class="col-lg-2 p-0">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend add">
                                                        <label for="fullname">Họ tên</label>
                                                    </div>
                                                    <input type="text" class="form-control" ng-model="data.fullname" id="name2" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="email">Email</label>
                                                    <input type="text" class="form-control" ng-model="data.email" id="email2" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="phone">Số DT</label>
                                                    <input type="number" class="form-control" ng-model="data.phone" id="phone2" required>
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <a href="">
                                                                <i class="material-icons" style="color:#00BCD4; margin-top: -20px;border: 1px solid; border-radius: 5px;">call</i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="sex">Giới tính</label>
                                                    <select class="form-control" ng-model="addselectedSex" ng-options="option.name for option in Sex">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="address">Địa chỉ</label>
                                                    <select class="form-control" ng-model="addselectedAddress" ng-options="option.name for option in Address">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="dayreg">Ngày đăng ký</label>
                                                    <input type="date" class="form-control datetimepicker" id="adddayreg" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label for="note">Ghi chú</label>
                                                <textarea class="form-control" rows="5" ng-model="addNote" id="note2"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-1 p-0">
                                            <div class="form-group">
                                                <button class="btn btn-warning btn-block btn-lg" style="padding-left: 17px;" ng-click="addnewfromaddFriend(data)">Thêm
                                                    mới
                                                </button>
                                                <button class="btn btn-info btn-block">SMS</button>
                                                <button class="btn btn-info btn-block">Email</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="card m-10">
                            <div class="card-body">
                                <form name="loginform">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="coso">Cơ sở</label>
                                                    <select class="form-control" ng-model="addselectedCenter" ng-options="option.name for option in Center">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="trangthai">Trạng thái</label>
                                                    <select class="form-control" ng-model="addselectedStatus" ng-options="option.name for option in Status">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="ngayhen">Ngày hẹn</label>
                                                    <input type="date" class="form-control" id="addngayhen" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="input-group add">
                                                    <label for="giohen">Giờ hẹn</label>
                                                    <select class="form-control" ng-model="addselectedTime" ng-options="option.name for option in Appointment_time">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <button type="button" class="btn btn-lg btn-warning btn-block top-65">Thêm mới và
                                                chuyển
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
            </div>
        </div>
    </div>