<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Nhận học viên mới</th>
                                <th class="text-center">Nhận viên</th>
                                <th class="text-center">Chuyển chưa gọi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">
                                    <div class="togglebutton">
                                        <label>
                                            <input type="checkbox" checked="">
                                            <span class="toggle"></span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-center">Develop</td>
                                <td class="text-center">
                                    <button class="btn btn-info btn-round">
                                        <!-- <i class="material-icons">favorite</i> -->
                                        Chuyển tất cả học viên
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>