<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="material-datatables">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="input-group add">
                                                        <label for="sday">Từ Ngày</label>
                                                        <input type="text" class="form-control" id="sday">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="input-group add">
                                                        <label for="sday2">Đến Ngày</label>
                                                        <input type="text" class="form-control" id="sday2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="row">
                                                <div class="col-lg-11">
                                                    <a href="#" class="btn sas-bk btn-block" style="margin-left: 20px"
                                                        ng-click="Search_mk()">
                                                        <i class="material-icons">search</i> Xem
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table ng-if="isLoading" datatable="ng" dt-options="newdtOptions" cellpadding="0" class="table table-striped cell-border table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>Team</th>
                                        <th>Họ Tên</th>
                                        <th>Online</th>
                                        <th>Đăng ký học</th>
										<th>Số Khóa</th>
                                        <th>Phần trăm</th>
										
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in _User" style="cursor:pointer">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td>
											<span ng-repeat="t in content.Team" ng-show="content.Team.length > 1">{{t.name}}<span ng-hide="$last">,</span> </span>
											<span ng-bind="content.Team[0].name" ng-show="content.Team.length === 1"></span>
										</td>
                                        <td ng-bind="content.Name"></td>
                                        <td ng-bind="content.On"></td>
                                        <td ng-bind="content.Reg.length"></td>
										<td ng-bind="content.Khoa"></td>
                                        <td ng-if="content.On > 0">{{content.Reg.length / content.On *100}} %</td>
                                        <td ng-if="content.On === 0">0 %</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var d = new Date();
        var currMonth = d.getMonth();
        var currYear = d.getFullYear();
        var startDate = new Date(currYear, currMonth, 1);

        $("#sday").datepicker({
            changeYear: true,
            changeMonth: true,
            dateFormat: "dd/mm/yy"
        }).datepicker("setDate", startDate);

        $("#sday2").datepicker({
            changeYear: true,
            changeMonth: true,
            dateFormat: "dd/mm/yy"
        }).datepicker("setDate", new Date());
    });
</script>