.sas {
    margin: 0 auto;
    color: #0080c3;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-weight: bold;
}

.login-content {
    margin-top: 70px !important;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}

.col-center {
    float: none;
    margin: 0 auto;
}

.top-10 {
    margin-top: 10px !important;
}

.top-150 {
    margin-top: 150px !important;
}

.top-65 {
    margin-top: 65px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-3 {
    margin: 3px !important;
}

.m-3-top{
    margin-top: 3px !important;
}

.modal-add {
    max-width: 1280px;
}

thead {
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.modal-header {
    color: #fff;
    padding: 9px 15px;
    background-color: #00BCD4;
}

.modal-header h4 {
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 900 !important;
}

.modal-open .wrapper, .modal-open .sidebar-wrapper, .modal-open .container-fluid, .modal-open .container {
    -webkit-filter: blur(5px) grayscale(90%);
}

.add label {
    line-height: 4.3 !important;
    margin-right: 10px;
}

.card-add {
    padding-bottom: 0px !important;
    padding-top: 5px !important;
}

.card .card-body .form-group {
    margin: 10px 0 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.toggle, input[type=checkbox][disabled]+.toggle {
    width: 60px !important;
    height: 25px !important;
}

.togglebutton label input[type=checkbox]:checked+.toggle:after {
    left: 40px !important;
}

.togglebutton label .toggle:after {
    top: 2px !important;
    left: 1px !important;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
    margin-left: 0px !important;
}

.navbar .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.checkstudent {
    border: 1px solid #d2d2d2 !important;
    border-radius: 5px !important;
    margin-left: 3px !important;
    max-width: 33% !important;
}

.lbstudent {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Tooltip css */

.cbtn:hover:after {
    height: auto;
    min-height: 30px;
    word-break: break-word;
    padding: 0.25em;
    max-height: calc(100px - 0.5em);
    width: calc(150px - 0.5em);
    z-index: 0;
}

.cbtn:hover:before, .cbtn:hover:after {
    opacity: 1;
    -webkit-transition: opacity 0.5s, height 0.5s;
    -o-transition: opacity 0.5s, height 0.5s;
    transition: opacity 0.5s, height 0.5s;
}

.cbtn:before {
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    opacity: 0;
}

.cbtn-left:before {
    top: 3px;
    right: 100%;
    border-left: 12px solid rgba(156, 39, 176, .9);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}

.cbtn:after {
    margin-top: 0px;
    content: attr(data-tooltip);
    position: absolute;
    width: 0;
    background: rgba(156, 39, 176, .9);
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    color: #fff;
    max-width: 150px;
    z-index: -9999;
    overflow: hidden;
}

.cbtn-left:after {
    top: 0;
    margin-right: 11px;
    right: 100%;
}

#loading {
    height: 100%;
    left: 0;
    margin: auto;
    top: 0;
    width: 100%;
}

.bokeh {
    border-radius: 50%;
    font-size: 100px;
    height: 1em;
    list-style: outside none none;
    margin: 0 auto;
    position: relative;
    top: 35%;
    width: 1em;
    z-index: 2147483647;
}

.bokeh li {
    border-radius: 50%;
    height: 0.2em;
    position: absolute;
    width: 0.2em;
}

.bokeh li:nth-child(1) {
    animation: 1.13s linear 0s normal none infinite running rota, 3.67s ease-in-out 0s alternate none infinite running opa;
    background: #00c176 none repeat scroll 0 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    top: 0;
    transform-origin: 50% 250% 0;
}

.bokeh li:nth-child(2) {
    animation: 1.86s linear 0s normal none infinite running rota, 4.29s ease-in-out 0s alternate none infinite running opa;
    background: #ff003c none repeat scroll 0 0;
    margin: -0.1em 0 0;
    right: 0;
    top: 50%;
    transform-origin: -150% 50% 0;
}

.bokeh li:nth-child(3) {
    animation: 1.45s linear 0s normal none infinite running rota, 5.12s ease-in-out 0s alternate none infinite running opa;
    background: #fabe28 none repeat scroll 0 0;
    bottom: 0;
    left: 50%;
    margin: 0 0 0 -0.1em;
    transform-origin: 50% -150% 0;
}

.bokeh li:nth-child(4) {
    animation: 1.72s linear 0s normal none infinite running rota, 5.25s ease-in-out 0s alternate none infinite running opa;
    background: #88c100 none repeat scroll 0 0;
    margin: -0.1em 0 0;
    top: 50%;
    transform-origin: 250% 50% 0;
}

@keyframes opa {
    12% {
        opacity: 0.8;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.64;
    }
    40.5% {
        opacity: 0.52;
    }
    52.7% {
        opacity: 0.69;
    }
    60.2% {
        opacity: 0.6;
    }
    66.6% {
        opacity: 0.52;
    }
    70% {
        opacity: 0.63;
    }
    79.9% {
        opacity: 0.6;
    }
    84.2% {
        opacity: 0.75;
    }
    91% {
        opacity: 0.87;
    }
}

@keyframes rota {
    100% {
        transform: rotate(360deg);
    }
}