<div id="he" class="main-panel" ng-controller="HomeCtrl">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-brand navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="" data-toggle="modal" data-target="#add">
                    <i class="material-icons">person_add</i>
                    <h4 class="title" style="display:inline-block; vertical-align: text-top;">Thêm học viên</h4>
                </a>
            </div>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="" data-toggle="modal" data-target="#chagepas">
                            <i class="material-icons">person</i>
                            <p class="d-lg-none d-md-block">
                                Account
                            </p>
                            Nguyễn Văn A
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="" ng-click="logout()">
                            <i class="material-icons">exit_to_app</i>
                            Thoát
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
</div>
<!-- modal -->
<div ng-include='"templates/changepass.html"'></div>
<div ng-include='"templates/add.html"'></div>