<div id="si" ng-controller="MenuCtrl" class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">

    <div class="logo">
        <a href="#" class="simple-text logo-normal" style="margin-top: -10px;" ng-if="auth.Role[0].id === 1">
            <img src="assets/img/logo.png" width="100%" alt="">
        </a>

        <a href="#" class="simple-text logo-normal" style="margin-top: -10px;" ng-if="auth.Role[0].id === 2">
            <img src="assets/img/logo.png" width="100%" alt="">
        </a>

        <a href="#" class="simple-text logo-normal" style="margin-top: -10px;" ng-if="auth.Role[0].id === 0">
            <img src="assets/img/logo.png" width="100%" alt="">
        </a>
    </div>
    <div class="sidebar-wrapper" style="padding-bottom: 0px" ng-if="auth.Role[0].id === 1 || pageId === 1">
        <ul class="nav pre-scrollable-2 sms-scroll" style="margin-top:0px">
			<li class="nav-item" ng-click="go_rating()" ng-class="{'active': isactive === 17}">
                <a class="nav-link" href="">
                    <i class="material-icons">bar_chart</i>
                    <p>Xếp Hạng</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_home()" ng-class="{'active': isactive === 1}">
                <a class="nav-link" href="">
                    <i class="material-icons">dashboard</i>
                    <p>Tất cả</p>
                </a>
            </li>
			<li class="nav-item" ng-click="go_center()" ng-class="{'active': isactive === 18}">
                <a class="nav-link" href="">
                    <i class="material-icons">format_align_center</i>
                    <p>Thống Kê Cơ Sở</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_notcalled()" ng-class="{'active': isactive === 2}">
                <a class="nav-link" href="">
                    <i class="material-icons">call</i>
                    <p>Chưa gọi</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_recall()" ng-class="{'active': isactive === 3}">
                <a class="nav-link" href="">
                    <i class="material-icons">call_received</i>
                    <p>Gọi lại</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_schedule()" ng-class="{'active': isactive === 4}">
                <a class="nav-link" href="">
                    <i class="material-icons">schedule</i>
                    <p>Hẹn chưa đến</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_unreg()" ng-class="{'active': isactive === 5}">
                <a class="nav-link" href="">
                    <i class="material-icons">category</i>
                    <p>Đến chưa đăng ký</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_send()" ng-class="{'active': isactive === 6}">
                <a class="nav-link" href="">
                    <i class="material-icons">trending_flat</i>
                    <p>Đã chuyển</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_calendar()" ng-class="{'active': isactive === 7}">
                <a class="nav-link" href="">
                    <i class="material-icons">notifications</i>
                    <p>Lịch hẹn</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_statistics()" ng-class="{'active': isactive === 8}">
                <a class="nav-link" href="">
                    <i class="material-icons">bar_chart</i>
                    <p>Thống kê</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_setup()" ng-if="auth.Role[0].id === 0" style="margin-bottom: 20px" ng-class="{'active': isactive === 9}">
                <a class="nav-link" href="">
                    <i class="material-icons">settings</i>
                    <p>Setup</p>
                </a>
            </li>
        </ul>
    </div>


    <div class="sidebar-wrapper" style="padding-bottom: 0px" ng-if="auth.Role[0].id === 2 || pageId === 2">
        <ul class="nav" style="margin-top:0px">
			<li class="nav-item" ng-click="go_mrating()" ng-class="{'active': isactive === 15}">
                <a class="nav-link" href="">
                    <i class="material-icons">bar_chart</i>
                    <p>Xếp Hạng</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_thongke()" ng-class="{'active': isactive === 10}">
                <a class="nav-link" href="">
                    <i class="material-icons">dashboard</i>
                    <p>Thống Kê</p>
                </a>
            </li>
			<li class="nav-item" ng-click="go_mcenter()" ng-class="{'active': isactive === 16}">
                <a class="nav-link" href="">
                    <i class="material-icons">format_align_center</i>
                    <p>Thống Kê Cơ Sở</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_danhsach()" ng-class="{'active': isactive === 11}">
                <a class="nav-link" href="">
                    <i class="material-icons">view_list</i>
                    <p>Danh Sách</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_doc()" ng-class="{'active': isactive === 12}">
                <a class="nav-link" href="">
                    <i class="material-icons">extension</i>
                    <p>Chính sách marketing</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_hd()" ng-class="{'active': isactive === 13}">
                <a class="nav-link" href="">
                    <i class="material-icons">cast_connected</i>
                    <p>Hướng dẫn kết nối</p>
                </a>
            </li>
            <li class="nav-item" ng-click="go_msetup()" ng-class="{'active': isactive === 14}">
                <a class="nav-link" href="">
                    <i class="material-icons">settings</i>
                    <p>Setup</p>
                </a>
            </li>
        </ul>
    </div>
</div>