<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="material-datatables">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="mkday">Từ Ngày</label>
                                                        <input type="date" class="form-control" id="mkday">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="mkday2">Đến Ngày</label>
                                                        <input type="date" class="form-control" id="mkday2">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="mgroup">Groups</label>
                                                        <select class="form-control" ng-model="mgroup" ng-options="option.Name for option in AllGroups">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="row">
                                                <div class="col-lg-11">
                                                    <a href="#" class="btn btn-info btn-block" style="margin-left: 20px"
                                                        ng-click="Searchwith()">
                                                        <i class="material-icons">search</i> Xem
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table datatable="ng" dt-options="newdtOptions" cellpadding="0" class="table table-striped cell-border table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>ID</th>
                                        <th>Họ Tên</th>
                                        <th>Online <br> (Đã cộng hủy trừ trùng)</th>
                                        <th>Đăng ký học</th>
                                        <th>Phần trăm</th>
                                        <th>Trùng</th>
                                        <th>Không tiềm năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in Makertings" style="cursor:pointer" ng-click="detail(content._id)">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td>{{content.Username}}</td>
                                        <td>{{content.Fullname}}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>