<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="material-datatables">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="mkday">Từ Ngày</label>
                                                        <input type="date" class="form-control" id="mkday">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="mkday2">Đến Ngày</label>
                                                        <input type="date" class="form-control" id="mkday2">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="input-group add">
                                                        <label for="mgroup">Groups</label>
                                                        <select class="form-control" ng-model="mgroup" ng-disabled="auth.Role[0].id !== 0" ng-options="option.Name for option in AllGroups">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="row">
                                                <div class="col-lg-11">
                                                    <a href="#" class="btn btn-info btn-block" style="margin-left: 20px"
                                                        ng-click="Search_mk()">
                                                        <i class="material-icons">search</i> Xem
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table datatable="ng" dt-options="newdtOptions" cellpadding="0" class="table table-striped cell-border table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Stt</th>
                                        <th>Id</th>
                                        <th>Họ Tên</th>
                                        <th>Online</th>
                                        <th>Đăng ký học</th>
                                        <th>Phần trăm</th>
                                        <th>Trùng</th>
                                        <th>Không tiềm năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="content in _Makerting" style="cursor:pointer">
                                        <td class="text-center">{{$index +1}}</td>
                                        <td ng-bind="content.User"></td>
                                        <td ng-bind="content.Name"></td>
                                        <td ng-bind="content.On"></td>
                                        <td ng-bind="content.Reg.length"></td>
                                        <td ng-if="content.On > 0">{{content.Reg.length / content.On *100}} %</td>
                                        <td ng-if="content.On === 0">0 %</td>
                                        <td ng-bind="content.Dup.length"></td>
                                        <td ng-bind="content.Ktn.length"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>